.page-layout {
  display: flex;
  justify-content: center;   /* ORTA */
  margin-top: 30px;
}

.card {
  width: 450px;
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.group label {
  margin-bottom: 5px;
  color: #444;
}

.group input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

button {
  width: 140px;
  margin-top: 10px;
  padding: 12px;
  background: #1a73ff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
